@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #acb6e5; /* Placeholder color */
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/mario-bros-bg.jpg'); /* Update with your background image */
    background-size: cover;
    background-position: center;
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1em;
    margin: 0.5em 0;
}

.start-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 1em 2em;
    margin: 1em 0;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.start-btn:hover {
    background-color: #333;
}

.start-btn:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 40px;
    height: 40px;
}
